@model IEnumerable<KuduVersionCheck.Models.StampEntry>

<!DOCTYPE html>

<html>
<head>
    <title>kuduversion</title>
</head>
<body>
    <div>
        <ul style="font-family: Courier New, monospace">
        @foreach (var stampEntry in Model)
        {
            <li>
                <a href="@stampEntry.TestSite" target="_blank">@stampEntry.Name</a>:
                @stampEntry.StampVersion
                kudu: @stampEntry.KuduVersion
                <a href="https://github.com/WindowsAzure/kudu/commit/@stampEntry.CommitId" target="_blank">@stampEntry.CommitId</a>
                Deployed: @stampEntry.InstallTime
            </li>
        }
        </ul>
    </div>
</body>
</html>
