@model KuduVersionCheck.Models.StampEntriesViewModel

<!DOCTYPE html>

<html>
<head>
    <title>MAWS Status</title>
    <link rel="stylesheet" type="text/css" href="Content/css/style.css" media="screen" />
</head>
<body>
    @foreach (var group in Model.Groups)
    {
    <div>
        <h2>@group.Key (@group.Count())</h2>
        <table id="box-table-a">
            <tr>
                <th>Stamp</th>
                @if (Model.ShowConsole) { <th>Kudu</th> }
                @foreach (var column in Model.Columns)
                {
                    <th>@column</th>
                }
                <th>Time</th>
            </tr>
            @* Dirty hack to get euap at end of the list. *@
            @foreach (var entry in group.OrderBy(e => e.Name.StartsWith("euap") ? "z" + e.Name.Substring(4) : e.Name))
            {
                <tr>
                    <td style="@entry.Style"><a style="@entry.Style" href="@entry.TestSiteUrl">@entry.Name</a> @if (entry.Mismatch) { <b>*</b> }</td>
                    @if (Model.ShowConsole) { <td style="@entry.Style"><a style="@entry.Style" href="@entry.ConsoleUrl" target="_blank">run</a></td> }
                    @foreach (var column in Model.Columns)
                    {
                        KuduVersionCheck.Models.StampCell cell;
                        if (entry.Data.TryGetValue(column, out cell)) {
                            <td style="@cell.Style">@cell</td>
                        }
                        else {
                            <td style="@entry.Style"></td>
                        }
                    }
                    <td style="@entry.Style">@((int)entry.Duration.TotalMilliseconds)</td>
                </tr>
            }
        </table>
    </div>
    }
</body>
</html>
