@model KuduVersionCheck.Models.StampEntriesViewModel

<!DOCTYPE html>

<html>
<head>
    <title>kuduversion</title>
</head>
<body>
    <div>
        <table border="1" style="font-family: Courier New, monospace">
            <tr>
                <th>Site</th>
                @if (Model.ShowConsole) { <th>Kudu</th> }
                @foreach (var column in Model.Columns)
                {
                    <th>@column</th>
                }
            </tr>
            @foreach (var entry in Model.Entries)
            {
                <tr>
                    <td><a href="@entry.TestSiteUrl" target="_blank">@entry.Name</a> @if (entry.Mismatch) { <b>*</b> }</td>
                    @if (Model.ShowConsole) { <td><a href="@entry.ConsoleUrl" target="_blank">run</a></td> }
                    @foreach (var column in Model.Columns)
                    {
                        string val = "";
                        entry.Data.TryGetValue(column, out val);
                        <td>@val</td>
                    }
                </tr>
            }
        </table>
    </div>
</body>
</html>
